In [1]:
import numpy as np
import pandas as pd

In [2]:
dt = pd.read_csv("Spam.csv")
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [3]:
dt['spam']=dt['type'].map({'spam':1,'ham':0}).astype(int)
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [4]:
def tokenizer(text):
    return text.split()

In [5]:
dt['text']=dt['text'].apply(tokenizer)

In [6]:
dt['text'][1]

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [7]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [8]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [9]:
dt['text']=dt['text'].apply(stem_it)

In [10]:
dt['text'][1]

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [11]:
dt.head()

   type                                               text  spam
0   ham  [go, until, jurong, point,, crazy.., avail, on...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, in, 2, a, wkli, comp, to, win, f...     1
3   ham  [u, dun, say, so, earli, hor..., u, c, alreadi...     0
4   ham  [nah, i, don't, think, he, goe, to, usf,, he, ...     0

In [12]:
dt['text'][1]

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [13]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [14]:
def lemmit_it(text):
    return [lemmatizer.lemmatize(word,pos="a") for word in text]

In [15]:
dt['text']=dt['text'].apply(lemmit_it)

In [16]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')

In [17]:
def stop_it(text):
    review=[word for word in text if not word in stop_words]
    return review

In [18]:
dt['text']=dt['text'].apply(stop_it)

In [19]:
dt['text']=dt['text'].apply(' '.join)

In [20]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [23]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_text)*100
print("accuracy:",acc_log)

accuracy: 87.5

In [27]:
from sklearn.svm import LinearSVC

linear_svc=LinearSVC(random_state=0)
linear_svc.fit(x_train,y_train)
y_pred=linear_svc.predict(x_text)
acc_linear_svc=accuracy_score(y_pred,y_text)*100
print("accuracy:",acc_linear_svc)

accuracy: 87.5